//*******Colors*******//

//Default colors
$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;

//Theme colors
$theme_black:rgb(49,53,61);
$theme_green:rgb(0,147,147);
$theme_white:rgb(255,252,245);
$theme_gray:rgb(217,215,213);
$theme_red:rgb(255,56,0);

//*******Fonts*******//

$font-strong:helvetica;
$font-semi-strong:helvetica;
$font-normal:helvetica;
$font-weak:helvetica;

//*******Configurable compass*******//

//Border
$default-border-radius:5px;

//Box shadow
$default-box-shadow-color: #333333;

//Transition
$default-transition-property:all;

//Text shadow
$default-text-shadow-color: rgba($darkblue, 0.6);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-h-offset:1px;

//Text effect
.strike{
	text-decoration: line-through;
}
