//default colors
$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;

$transparent-darkblue:rgba(10,41,51,0.8);

//from Adobe Kuler
$theme_black:rgb(49,53,61);
$theme_green:rgb(0,147,147);
$theme_white:rgb(255,252,245);
$theme_gray:rgb(217,215,213);
$theme_red:rgb(255,56,0);

//from google font
$font-strong:helvetica;
$font-semi-strong:helvetica;
$font-normal:helvetica;
$font-weak:helvetica;

//configurable compass 
$default-border-radius:5px;
$default-box-shadow-color: #333333;
$default-transition-property:all;

