<header>
	<div id="menubar-wrapper" class="dropdown">  
		<i class="fa fa-bars dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#"></i>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    <li ng-repeat='task in todos' ng-click='selectedTopic($index)'>{{task.topic}}</li>
	    <li ng-click='addTopic()'><i class="fa fa-plus"></i></li>
	</ul>
	</div>
   
	<div id="todo-category-wrapper" edit-name index='{{selectedIndex}}' form-style='form-control'>
		<h1>{{todos[selectedIndex].topic}}</h1>
	</div>
</header>
<div class="container">
	<section id='todo-list'>		
		<form ng-submit="addToDo(selectedIndex)" id='todo-generator'>
			<div class="input-group">
				<input ng-model='todo' id="list-generator" class='form-control' type="text" placeholder='What do you want to accomplish?'>
				<span class='input-group-btn'>
					<input type="submit" value="Add" class="btn btn-primary">
				</span>
			</div>
			<div ng-show='errorFound' class="errorBox">
				<span class="errorMessage"></span>
			</div>
		</form>

		<sortable ng-controller='ToDoListCtrl'></sortable>
		
		<donelist ng-controller='DoneListCtrl'></donelist>

		<!-- Modal -->
		<section class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
					<input class="modal-title" id="myModalLabel" type="text" ng-model='todos[selectedIndex].info[taskIndex].title' value={{todos[selectedIndex].info[taskIndex].title}}>
					</div>
					<div class="modal-body">
						<textarea ng-model='todos[selectedIndex].info[taskIndex].note' placeholder='Description ...'>{{todos[selectedIndex].info[taskIndex].note}}</textarea>
					</div>
					<div class="modal-footer">
						<button type="button" ng-click='removeToDo(taskIndex,selectedIndex)' class="pull-left btn btn-danger" data-dismiss="modal">
							Delete
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
		        			Close
						</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">
							Save changes
						</button>
					</div>
				</div>
			</div>
		</section>

	</section>
</div>

